body {
  font-family: sans-serif;
}

/*Hace que el área de contenido lleve la ventan del navegador*/
html,

.fullscreen{
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*Centra en contenido en la ventana*/
.container{
  margin: auto;
  text-align: center;
}

.title{
  font-size: 3rem;
}
